@import './tabs.css';
@import './BookingForm.css';
@import './BookingConfirmation.css';
@import './ApplianceForm.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}